.local
.Xauthority
.bash_history
.viminfo
.config/xarchiver
.config/i3/backgrounds.png
.config/i3/*.jpeg
.config/i3/*.jpg
.sunpinyin
.config/BaiduPCS-Go
.config/fcitx5
.config/ibus
.config/libreoffice
.config/dconf/user
.config/xed
.cache
.mozilla
.xsession-errors
.xsession-errors.old
Downloads/xrated.sh/url_playlist_2.txt
Downloads/xrated.sh/url_playlist.txt
