.local
.Xauthority
.bash_history
.viminfo
.config/xarchiver
.config/i3/backgrounds.png
.config/i3/*.jpeg
.config/i3/*.jpg
.sunpinyin
.config/BaiduPCS-Go
.config/QtProject.conf
.config/fcitx5
.config/ibus
.config/libreoffice
.config/dconf/user
.config/xed
.config/ghc
.config/sublime-text/Local/Auto Save Session.sublime_session
.config/sublime-text/Local/Session.sublime_session
.cache
.emacs.d
.mozilla
.xsession-errors
.xsession-errors.old
.w3m
.wget-hsts
.python_history
.config/elinks
.links
.rnd
